<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.ryanw.barcodescanner"
        version   = "2.0.0">


    <gap:splash src="http://www.haageninternet.nl/klanten/api/images/splashscreen.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="http://www.haageninternet.nl/klanten/api/images/splashscreen.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="http://www.haageninternet.nl/klanten/api/images/splashscreen.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="http://www.haageninternet.nl/klanten/api/images/splashscreen.png" gap:platform="android" gap:density="xhdpi" />

<icon src="http://www.haageninternet.nl/klanten/api/images/icon-114.png" gap:platform="android" gap:density="ldpi" />
<icon src="http://www.haageninternet.nl/klanten/api/images/icon-114.png" gap:platform="android" gap:density="mdpi" />
<icon src="http://www.haageninternet.nl/klanten/api/images/icon-114.png" gap:platform="android" gap:density="hdpi" />
<icon src="http://www.haageninternet.nl/klanten/api/images/icon-114.png" gap:platform="android" gap:density="xhdpi" />

    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>
        <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
</widget>
